.modal {
  :global(.ant-modal-content),
  :global(.qwenpaw-modal-content) {
    border-radius: 28px;
    overflow: hidden;
  }
  :global(.ant-btn-icon),
  :global(.qwenpaw-btn-icon) {
    display: inline-flex;
    align-items: center;
    > svg {
      width: 16px;
      height: 16px;
      flex: 0 0 16px;
    }
  }
}
